.about-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark-about-card {
  background-color: #000000;
}

.about-img {
  height: 140px;
}

@media screen and (min-width: 768px) {
  .about-img {
    height: 80px;
  }
}

.about-heading {
  font-family: 'Roboto';
  color: #334155;
}

.dark-about-head {
  color: #ffffff;
}
